.users {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.loader {
    display: flex;
    padding: 30px 20px;
    grid-gap: 7px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.point {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background: #1882FF;
}

    .point:nth-child(1) {
        animation: 1s loader-animation linear infinite 0.2s;
    }

    .point:nth-child(2) {
        animation: 1s loader-animation linear infinite 0.4s;
    }

    .point:nth-child(3) {
        animation: 1s loader-animation linear infinite 0.8s;
    }

@keyframes loader-animation {
    0% {
        opacity: 0.2;
    }
    50% {
        transform: scale(120%);
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}