footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #333;
    margin-top: 30px;
}

.main-footer span {
    margin-left: auto;
    margin-right: auto;
}


.main-footer {
    color: #777;
}