footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    position: sticky;
    background: white;
    box-shadow: 0px 0px 100px #00000010;
}

.main-footer span {
    margin-left: auto;
    margin-right: auto;
}


.main-footer {
    color: #777;
}