.main-logo {
    height: 23px;
    width: auto;
    filter: invert(100%);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    background: #000000FF;
    backdrop-filter: blur(5px);
    user-select: none;
    border-bottom: 1px solid #333;
}

.header-items {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 15px;
}

.main-navigation {
    display: flex;
    grid-gap: 30px;
}

.header-items button {
    padding: 5px 25px;
    outline: none;
    border: none;
    background: #1882FF;
    color: white;
    font-weight: 600;
    border-radius: 3px;
}

    .header-items button:hover {
        outline: 3px solid #1882FFA0;
    }

    .header-items button:active {
        outline: 3px solid #1882FF60;
    }

.header-item-wrapper {
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border: 1px solid #333;
    grid-gap: 10px;
    font-weight: 600;
}

    .header-item-wrapper input {
        background: none;
        outline: none;
        border: none;
        font-weight: 600;
        color: #2C8DFF;
    }

    .header-item-wrapper select {
        background: none;
        border: none;
        outline: none;
        color: #2C8DFF;
        cursor: pointer;
    }

    .header-item-wrapper select option {
        color: #2C8DFF;
    }

    .header-item-wrapper input[type="range"] {
        cursor: pointer;
    }
    .header-item-wrapper input[type="number"] {
        width: 4ic;
    }